/* Key animation */
@keyframes keyMoveUp {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-3px); /* Move up slightly */
  }
  100% {
      transform: translateY(0); /* Return to original position */
  }
}

.hg-button:hover {
  animation: keyMoveUp 0.5s ease-in-out !important;
}

.board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 98vh;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line {
  display: flex;
  gap: 5px;
}

.hebrew-tiles-container {
  direction: rtl;
}

.tile {
  width: 60px;
  height: 60px;
  border: 1px solid #3A3A3B;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .tile {
    width: 40px; /* Adjusted width for mobile */
    height: 40px; /* Adjusted height for mobile */
    font-size: 20px; /* Adjusted font size for mobile */
  }

  .keyboard-container {
    width: 100%;
  }
}

.incorrect {
  background-color: #3A3A3B;
}

.close {
  background-color: #B59F3A;
}

.correct {
  background-color: #538D4E;
}

.hg-guesses {
  background-color: #3A3A3B !important; /* Highlight color for guessed letters */
  color: white;
}

.hg-close {
  background-color: #B59F3A !important;
  color: white;
}

.hg-correct {
  background-color: #538D4E !important;
  color: white;
}

.enter-highlight {
  background-color: #6b8da8 !important; /* Highlight color for guessed letters */
  color: white;
}

.ln-highlight {
  background-color: #829db1 !important; /* Highlight color for guessed letters */
  color: white;
}

.simple-keyboard.hg-theme-default.myTheme {
  border-radius: 15px;
  background-color: #121214;
}

/* Info Container */
/* Info icon container */
.info-container {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

/* Info icon */
.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Popup styling */
.info-popup {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 300px;
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333333;
  font-size: 14px;
  line-height: 1.6;

  opacity: 0; /* Start hidden */
  visibility: hidden; /* Ensure it's not interactive when hidden */
  transform: translateY(-10px); /* Slightly move up initially */
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.info-container:hover .info-popup {
  opacity: 1; /* Fade in */
  visibility: visible; /* Make it visible */
  transform: translateY(0); /* Slide into position */
}

/* Color indicators */
.green {
  color: #538d4e;
  font-weight: bold;
}

.yellow {
  color: #b59f3a;
  font-weight: bold;
}

.gray {
  color: #3a3a3b;
  font-weight: bold;
}
